/* 
++++++++++++++
Debug
++++++++++++++
*/

/* Header */

.debug header {
    height: 76px;
}

.debug .container {
    background-color: #D9D9D9;
    height: 100%;
}

.debug .brand {
    background-color: red;
    height: 100%;
}

.debug nav {
    background-color: green;
    height: 100%;
}

/* Above */

.debug .card {
    height: 345px;
    border: 1px solid red;
}

/* Strategic Planning */

.debug .column {
    height: 724px;
}

.debug .column-group :first-child {
    background-color: rgb(190, 190, 190);
}

/* Testimonial */

.debug .title--testimonial {
    height: 200px;
    background-color: rgb(99, 99, 99);
}

.debug .testimonial {
    height: 276px;
}

/* Benefits */

.debug .benefits .card {
    height: 422px;
    border: 1px solid red;
}

/* About Us */

.debug .column--small,
.debug .column--big {
    height: 640px;
}

/* Get Started */

.debug .get-started__text-group {
    height: 500px;
    background-color: #D9D9D9;
}

/* Footer */

.debug .footer__text-group {
    height: 150px;
    background-color: black;
}