/* 
++++++++++++++
Debug
++++++++++++++
*/

/* Header */

header {
    height: 76px;
}

.container {
    background-color: #D9D9D9;
    height: 100%;
}

.brand {
    background-color: red;
    height: 100%;
}

nav {
    background-color: green;
    height: 100%;
}

/* Above */

.card {
    height: 345px;
    border: 1px solid red;
}

/* Strategic Planning */

.column {
    height: 724px;
}

.column-group :first-child {
    background-color: rgb(190, 190, 190);
}

/* Testimonial */

.title--testimonial {
    height: 200px;
    background-color: rgb(99, 99, 99);
}

.testimonial {
    height: 276px;
}

/* Benefits */

.benefits .card {
    height: 422px;
    border: 1px solid red;
}

/* About Us */

.column--small,
.column--big {
    height: 640px;
}

/* Get Started */

.get-started__text-group {
    height: 500px;
    background-color: #D9D9D9;
}

/* Footer */

.footer__text-group {
    height: 150px;
    background-color: black;
}