/* 
++++++++++++++
Debug
++++++++++++++
*/

@import url(debug.css);

/* 
**************
Reset default 
**************
*/

@import url(reset.css);

/* 
**************
Design System
**************
*/

/* Color */

:root {
    --main-color: #9792E4;
    --snd-color: #0184FD;
    --snd-alt-color: #B5DCFF;
}

/* 
**************
Common
**************
*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.column-group {
    display: flex;
}

.column {
    width: 50%;
}

.column--small {
    width: 40%;
}

.column--big {
    width: 60%;
}

/* 
--------------
Header
--------------
*/

header {
    background-color: var(--snd-color);
}

header .container {
    display: flex;
}

.brand {
    width: 50%;
}

nav {
    width: 50%;
}

/* 
--------------
Main
--------------
*/

/* Section */

section {}

.section--alt {
    background-color: var(--main-color);
}


/* Above */

.above {
    padding: 50px 0 100px 0;
}

.above .card {
    background-color: var(--snd-alt-color);
}

.above .card--group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.above .card {
    width: calc((100% - 48px) /3)
}

.above .card--group .card:first-child {
    width: calc(((100% - 48px) /3) *2 + 24px)
}

/* Strategic Planning */

/* Testimonials */

.title--testimonial {
    margin-bottom: 32px;
}

.testimonial {
    background-color: var(--main-color);
    margin-bottom: 32px;
}

/* Benefits */

.benefits {
    background-color: var(--main-color);
}

.benefits .card {
    background-color: #ffffff;
}

.benefits .card--group {
    display: flex;
    flex-wrap: wrap;
    gap: 32px
}

.benefits .card {
    width: calc((100% - 64px) /3)
}

/* 
++++++++++++++
Responsive
++++++++++++++
*/

/* Tablet - da 0 a 991px */
@media screen and (max-width: 991px) {

    /* Common */
    .container {
        margin: 0px 30px;
    }

    .column-group {
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
    }

    /* Header */
    header .container {
        padding: 0 30px;
    }

    /* Benefits */
    .benefits .card {
        width: calc((100% - 32px) /2)
    }

}

/* Mobile - da 0 a 767 px */
@media screen and (max-width: 767px) {

    /* Above */
    .above .card,
    .above .card--group .card:first-child {
        width: 100%
    }

    /* Benefits */
    .benefits .card {
        width: 100%
    }
}