/* 
++++++++++++++
Debug
++++++++++++++
*/

@import url(debug.css);

/* 
**************
Reset default 
**************
*/

@import url(reset.css);

/* 
**************
Design System
**************
*/

/* Color */

:root {
    --main-color: #9792E4;
    --snd-color: #0184FD;
    --snd-alt-color: #B5DCFF;
    --footer-color: #333333;
}

/* Tipography */

body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 48px;
    color: var(--main-color);
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

h4 {}

h5 {}

h6 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
}

span {}

nav a {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

a {}

/* Button */

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 14px;
    border-radius: 22px;
    font-size: 14px;
}

button#app-store {
    background-color: var(--snd-color);
    padding: 10px 50px;
    color: #ffffff;
    margin-top: 40px;
}

button#app-store i {
    font-size: 18px;
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    color: #ffffff;
}

/* 
**************
Common
**************
*/

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5px;
}

.container--small {
    max-width: 400px;
    margin: 0 auto;
}

.column-group {
    display: flex;
}

.column {
    width: 50%;
}

.column--small {
    width: 30%;
}

.column--big {
    width: 70%;
}

/* 
--------------
Header
--------------
*/

header {
    background-color: var(--snd-color);
}

header .container {
    display: flex;
}

.brand {
    width: 50%;
    display: flex;
    align-items: center;
}

nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    color: #ffffff;
}

.brand {
    margin-top: 7px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__menu--mobile {
    display: none;
}

nav i {
    font-size: 20px;
}

/* 
--------------
Main
--------------
*/

/* Section */

.section--alt {
    background-color: var(--main-color);
}

.section--alt h1 {
    color: #ffffff;
}

/* Above */

.above {
    padding: 50px 0 100px 0;
}

.above .card {
    background-color: var(--snd-alt-color);
}

.above .card--group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.above .card {
    width: calc((100% - 48px) /3);
    text-align: center;
    padding: 30px 24px;
    border-radius: 20px;
}

.above .card--group .card:first-child {
    width: calc(((100% - 48px) /3) *2 + 24px);
    text-align: left;
}

.above .card i {
    font-size: 80px;
    color: var(--snd-color);
    margin-bottom: 22px;
}

.above .card h3 {
    color: var(--snd-color);
}

.above .card p {
    font-size: 18px;
    font-weight: 600;
    line-height: 180%;
    color: #5A6E7F;
}

.above .card img {
    width: 75%;
    margin-bottom: -30px;
}

.above .card.column-group .column:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* Strategic Planning */

#planning {
    padding: 134px 0 64px 0;
    color: #ffffff;
}

#planning .container {
    padding: 0 100px;
}

#planning .column {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#planning img {
    margin-bottom: 140px;
}

#planning h2 {
    margin-bottom: 52px;
}

#planning .card {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 32px 40px;
    border-radius: 50px;
}

#planning .card img {
    width: 75%;
    margin: 0 auto 20px;
}

#planning .icon--arrow {
    background-color: var(--main-color);
    display: inline-block;
    padding: 14px;
    border-radius: 50%;
    margin-top: 32px;
}

#planning .icon--arrow i {
    font-size: 16px;
    width: 20px;
    height: 20px;
}

/* Testimonials */

#testimonials {
    padding: 64px 0 112px;
}

.title--testimonials {
    text-align: center;
    width: 80%;
    margin: 0 auto 32px;
}

.title--testimonials h1 {
    margin-bottom: 40px;
}

.testimonial {
    background-color: var(--main-color);
    margin-bottom: 32px;
    padding: 32px 70px 32px 16px;
    border-radius: 50px;
}

.testimonial .column--small {
    width: 25%;
}

.testimonial .column--big {
    width: 75%;
}

.testimonial__img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial__info {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__info q {
    margin-bottom: 40px;
    position: relative;
}

.testimonial__info q:before {
    font-size: 60px;
    line-height: 0px;
    position: relative;
    top: 30px;
    margin-right: 5px;
}

.testimonial__info q:after {
    font-size: 60px;
    line-height: 0px;
    position: relative;
    top: 30px;
    margin-left: 5px;
}

/* Benefits */

#benefits {
    background-color: var(--main-color);
}

#benefits .card {
    background-color: #ffffff;
}

#benefits .card--group {
    display: flex;
    flex-wrap: wrap;
    gap: 32px
}

#benefits .card {
    width: calc((100% - 64px) /3)
}

/* About us */

#about-us {
    padding: 100px 0 150px 0;
}

/* 
--------------
Footer
--------------
*/

footer {
    background-color: var(--footer-color);
}

/* 
++++++++++++++
Responsive
++++++++++++++
*/

/* Tablet - da 0 a 991px */
@media screen and (max-width: 991px) {

    /* Container */

    .container {
        padding: 0 32px;
    }

    /* Nav */

    .nav__menu {
        display: none;
    }

    .nav__menu--mobile {
        display: block;
    }

    .column-group {
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
    }

    /* Above */

    .above .card img {
        width: 50%;
        margin-top: 40px;
    }

    .above .card.column-group .column:last-child {
        justify-content: flex-start;
    }

    /* Strategic Planning */

    #planning .container {
        padding: 0;
    }

    #planning .column {
        margin: 0 32px;
    }

    #planning .card {
        margin-top: 36px;
    }


    /* Benefits */
    .benefits .card {
        width: calc((100% - 32px) /2)
    }

}

/* Mobile - da 0 a 767 px */
@media screen and (max-width: 767px) {

    /* Above */
    .above .card,
    .above .card--group .card:first-child {
        width: 100%
    }

    .above .card img {
        width: 100%;
    }

    .above .card.column-group .column:last-child {
        justify-content: center;
    }

    /* Benefits */
    .benefits .card {
        width: 100%
    }

    /* About us */
    .about-us .column--big,
    .about-us .column--small {
        width: 100%;
    }
}